name: Update AoC Badges
on:
  schedule:
    - cron: '19 5 1-25 12 *'

  workflow_dispatch:

jobs:
  update:
   runs-on: ubuntu-latest
   steps:
      - uses: actions/checkout@v3

      - uses: joblo2213/aoc-badges-action@v3
        with:
          userid: 390344
          session: ${{ secrets.AOC_SESSION }}
          year: 2022
          file: 'README.md'
          starsRegex: '(?<=https:\/\/img\.shields\.io\/badge\/stars%20â­-)[0-9]+(?=-yellow&year=2022)'
          daysCompletedRegex: '(?<=https:\/\/img\.shields\.io\/badge\/days%20completed-)[0-9]+(?=-red&year=2022)'

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'ci: update AoC badges'
          file_pattern: README.md
